@font-face {
  font-family: 'Bahnschrift';
  font-weight: normal;
  font-style: normal;
  src: url('../public/font') format('truetype');
}
@font-face {
  font-family: 'Avilock Bold';
  font-weight: bold;
  font-style: normal;
  src: url('../public/font2/1FTV-Avilock-Bold.otf') format('opentype');
}
.text-avilock {
  font-family: 'Avilock Bold', sans-serif;
  font-weight: normal;
}
.text-shadow-tight {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6); /* Bóng sát, không lệch */
}
:root {
  line-height: 1.5;
  font-family: 'Bahnschrift', sans-serif;
  font-weight: 300;
  font-size: 17px;
  font-style: normal;
  font-variation-settings: 'wdth' 100;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibilitylient;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*margin: 0 5rem;*/
  height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #fff0f0;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 640px) {
  :root {
    font-size: 15px;
    line-height: 1.4;
  }
}
